body{
	font-family: 'Open Sans', sans-serif;
}

.default-header{
	color: #AD4C07;
	font-weight: 900;
	font-size: 18px;
}

.default-parag{
	font-size: 12px;
	color: #696969;
	line-height: 23px;
}

.banner{
	height: 300px;
	text-align: center;
	color: #FFFFFF;
	position: relative;
}

.banner .row{
	top: 30%;
	width: 100%;
	position: absolute;
}

.banner .row h1{
	font-size: 50px;
	font-weight: 900;
}

.banner .row p{
	font-size: 12px;
}

.text-center{
	text-align: center;
}

.sub-menu{
	background: #101010;
	height: 40px;
}

.sub-menu div{
	max-width: 800px;
	margin: 0 auto;
	height: 100%;
}

.sub-menu ul{
	margin: 0;
	height: 100%;
}

.sub-menu ul li{
	display: inline-block;
	height: 100%;
}

.sub-menu ul li.active{
	border-bottom: 1px solid yellow;
}

.sub-menu a{
	color: #FFFFFF;
	padding: 0 10px;
	display: inline-block;
	margin-top: 10px;
}








nav{
	background: #FFFFFF;
	height: 60px;
}

nav ul{
	text-align: right;
	margin-top: 2%;
}

nav ul li{
	display: inline-block;
	margin: 0 10px;
}

nav ul li a{
	color: #000000;
	transition: all 0.5s ease;
	font-size: 12px;
}

nav ul li a:hover{
	color: #FF9500;
	text-decoration: none;
}

nav .logo img{
	width: 155px;
	margin-top: 5px;
}







.lorita-home-banner{
 	background: url(../img/lorita-home-banner.png) no-repeat center center; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height: 500px;
	text-align: center;
	color: #FFFFFF;
	position: relative;
}

.ivory-event-banner{
 	background: url(../img/ivory-event-banner.jpg) no-repeat center center; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	text-align: center;
	color: #FFFFFF;
	position: relative;
}

.lorita-home-banner h1{
	font-weight: 900;
	font-size: 40px;
}

.lorita-home-banner p{
	font-size: 12px;
	max-width: 300px;
	margin: 0 auto;
}

.lorita-home-banner .row{
	position: absolute;
	bottom: 40px;
	width: 100%;
}

.home-about{
	margin: 150px auto;
	text-align: center;
}


.home-about img{
	width: 100%;
	margin: 20px 0;
}

.home-about h1{
	font-size: 30px;
	font-weight: 900;
	color: #1AE01A;
}


.home-services{
	height: 400px;
	background: url(../img/ivory-event-banner.jpg) no-repeat center center; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;	
	position: relative;
}

.home-services .desc{
	position: absolute;
	text-align: center;
	right: 0;
	top: 35%;
	width: 100%;
}

.green-filter{
	position: absolute;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#02b21f+0,66ff80+100 */
	background: #02b21f; /* Old browsers */
	background: -moz-linear-gradient(top, #02b21f 0%, #66ff80 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #02b21f 0%,#66ff80 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #02b21f 0%,#66ff80 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#02b21f', endColorstr='#66ff80',GradientType=0 ); /* IE6-9 */
	opacity: 0.5;
	top: 0; bottom: 0;
	left: 0; right: 0;
}

.home-services p{
	color: #FFFFFF;
	font-size: 30px;
	font-weight: 900;
	max-width: 800px;
	margin: 0 auto 15px auto;
}

.home-services a{
	display: inline-block;
	padding: 15px;
	color: #FFFFFF;
	border: 1px solid #FFFFFF;
	background: rgba(255,255,255,0.3);
}

.home-contact img{
	width: 100%;
}

.home-contact{
	margin: 150px auto;
	text-align: right;
}

.home-contact .contact-details{
	margin-top: 80px;
}

footer{
	text-align: center;
	color: #FFFFFF;
	background: #333333;
	padding: 15px 10px;
	font-size: 10px;
	font-weight: 100;
	text-transform: uppercase;
}

.lorita-room-banner{
	background: url(../img/lorita-room-banner.png) no-repeat center center; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;	
}

.lorita-dining-banner{
	background: url(../img/lorita-dining-banner.png) no-repeat center center; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;	
}

.lorita-services-banner{
	background: url(../img/lorita-services-banner.png) no-repeat center center; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;	
}

.lorita-banner-filter{
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1e61ee+0,1cd3ff+100 */
	background: #1e61ee; /* Old browsers */
	background: -moz-linear-gradient(top, #1e61ee 0%, #1cd3ff 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #1e61ee 0%,#1cd3ff 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #1e61ee 0%,#1cd3ff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e61ee', endColorstr='#1cd3ff',GradientType=0 ); /* IE6-9 */
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	opacity: 0.4;
}

.rooms-body{
	margin: 150px auto;
}

.rooms-body .col-md-6{
	margin: 50px 0;
}

.rooms-body img{
	width: 100%;
}

.dining-lorita{
	margin: 150px auto;
}

.dining-lorita .dining-photo img{
	width: 100%;
}

.dining-lorita .dining-logo{
	width: 100px;
}

.gallery{
	text-align: center;
	background: #F8E5DD;
	padding-top: 150px;
	padding-bottom: 150px;
}

.gallery img{
	width: 100%;
}

.gallery .row{
	max-width: 900px;
	margin: 30px auto;
}

.contact-lorita{
	margin: 150px auto;	
}

.contact-lorita img{
	width: 100%;
}