body{
	font-family: 'Open Sans', sans-serif;
}

.default-header{
	color: #383838;
	font-weight: 900;
	font-size: 18px;
}

.default-parag{
	font-size: 12px;
	color: #696969;
	line-height: 23px;
}

.banner{
	height: 300px;
	text-align: center;
	color: #FFFFFF;
	position: relative;
}

.banner .row{
	top: 30%;
	width: 100%;
	position: absolute;
}

.banner .row h1{
	font-size: 50px;
	font-weight: 900;
}

.banner .row p{
	font-size: 12px;
}

.text-center{
	text-align: center;
}

.sub-menu{
	background: #101010;
	height: 40px;
}

.sub-menu div{
	max-width: 800px;
	margin: 0 auto;
	height: 100%;
}

.sub-menu ul{
	margin: 0;
	height: 100%;
}

.sub-menu ul li{
	display: inline-block;
	height: 100%;
}

.sub-menu ul li.active{
	border-bottom: 1px solid yellow;
}

.sub-menu a{
	color: #FFFFFF;
	padding: 0 10px;
	display: inline-block;
	margin-top: 10px;
}








nav{
	background: #000000;
	height: 60px;
}

nav ul{
	text-align: right;
	margin-top: 2%;
}

nav ul li{
	display: inline-block;
	margin: 0 10px;
}

nav ul li a{
	color: #FFFFFF;
	transition: all 0.5s ease;
	font-size: 12px;
}

nav ul li a:hover{
	color: #FF9500;
	text-decoration: none;
}

nav .logo img{
	width: 155px;
	margin-top: 5px;
}








.lorita-home-banner{
 	background: url(../img/lorita-home-banner.png) no-repeat center center; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height: 500px;
	text-align: center;
	color: #FFFFFF;
	position: relative;
}

.lorita-home-banner h1{
	font-weight: 900;
	font-size: 40px;
}

.lorita-home-banner p{
	font-size: 12px;
	max-width: 300px;
	margin: 0 auto;
}

.lorita-home-banner .row{
	position: absolute;
	bottom: 40px;
	width: 100%;
}

.home-about{
	margin: 150px auto;
}

.home-about img{
	width: 100%;
}

.home-about-description{
	margin-top: 8%;
}

.home-restaurant-container{
	background: #F8E5DD;
	padding: 150px 0;
	text-align: center;
}

.home-restaurant-container .img-contain{
	height: 200px;
	width: 200px;
	margin: 0 auto;
	background: #FFFFFF;
}

.home-restaurant-container img{
	width: 100%;
}

.home-restaurant-container .col-md-3:nth-child(2) img{
	margin-top: 50px;: 
}

.home-contact img{
	width: 100%;
}

.home-contact{
	margin: 150px auto;
	text-align: right;
}

.home-contact .contact-details{
	margin-top: 80px;
}

footer{
	text-align: center;
	color: #FFFFFF;
	background: #333333;
	padding: 15px 10px;
	font-size: 10px;
	font-weight: 100;
	text-transform: uppercase;
}

.lorita-room-banner{
	background: url(../img/lorita-room-banner.png) no-repeat center center; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;	
}

.lorita-dining-banner{
	background: url(../img/lorita-dining-banner.png) no-repeat center center; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;	
}

.lorita-services-banner{
	background: url(../img/lorita-services-banner.png) no-repeat center center; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;	
}

.lorita-banner-filter{
	background: red;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	opacity: 0.4;
}

.rooms-body{
	margin: 150px auto;
}

.rooms-body .col-md-6{
	margin: 50px 0;
}

.rooms-body img{
	width: 100%;
}

.dining-lorita{
	margin: 150px auto;
}

.dining-lorita .dining-photo img{
	width: 100%;
}

.dining-lorita .dining-logo{
	width: 100px;
}

.gallery{
	text-align: center;
	background: #F8E5DD;
	padding-top: 150px;
	padding-bottom: 150px;
}

.gallery img{
	width: 100%;
}

.gallery .row{
	max-width: 900px;
	margin: 30px auto;
}

.contact-lorita{
	margin: 150px auto;	
}

.contact-lorita img{
	width: 100%;
}